/*关键字页面*/
.keywords-list{
    float: left;
    width: 240px;
    height: 350px;
    padding: 10px 0;
    margin-right: 10px;
    background: #666;
    color: #fff;
    .keywords-item{
        padding-left: 10px;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
        &:hover{
            background: #999;
        }
        .link{
            color: #fff;
            &:hover{
                color: #c60023;
            }
        }
    }
}